/* copy starting here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-color: #E8E8E8;
	font-family: "Open Sans", sans-serif;
}
.header {
    justify-self: center;
	background: #71BE74;
    width: 390px;
    height: 75px;
    h1 {
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding-top: 45px;
    }
}
.footer {
    justify-self: center;
	margin-top: 12.5px;
	background: #71BE74;
	width: 390px;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font: 600 12px "Open Sans", sans-serif;
		color: black;
		text-decoration: none;
		img {
			width: 60px;
			height: 60px;
		}
	}
}

.buttonstar {
	display: inline;
}

.goal-box {
	justify-self: center;
	display: flex;
	flex-direction:column;
	margin-top: 12.5px;
	padding: 15px;
	padding-bottom: 5px;
	background-color: white;
	width: 340px;
	height: auto;
	border-radius: 10px;
	position:relative;
	p {
		margin-top: 5px;
		font-weight: 20;
		font-size: 16px;
	}
}

.star-container {
	display: flex;
	margin-top: -13px;
	margin-bottom: -10px;
	position:inherit;
	align-self: flex-end;
	align-content: center;
	justify-content: flex-end;
		.star {
			svg {
				width: 25px;
				height: 25px;
				fill: #EAD327;
			}
		}
}

.goal-info {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: flex-start;
	flex-grow: 1;
}

.goal-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 5px;
	gap: 15px;
	position: relative;
}

.goal-box button {
	display: flex;
	justify-content: center;
	margin-bottom: 2px;
	align-self:flex-start;
	background-color: black;
	color: white;
	text-align: center;
	text-align: justify;
	border-radius: 5px;
	font-weight: 700;
	width: 135px;
	height: 20px;
	&:hover, &:focus {
		background-color: #333;
	}
}
	
.ellipse {
	justify-content: center;
	align-items: center;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}	

.ellipse img {
	justify-content: center;
	display: flex;
	width: 100%;
	max-width: 7px;
	height: auto;
}

h1 {
	font-weight: 100;
	font-size: 22px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

b {
	font-weight: 800;
}

button:hover {
	background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

.new-goal {
	justify-self: center;
	button {
		margin: 10px;
		background-color: white;
		width: 370px;
		height: 45px;
		border-radius: 10px;
		font-size: 18px;
		font-weight: 600;
		border-radius: 10px;
		border: none;
		display: flex;
		align-items: center;
		cursor: pointer;
		img {
			margin-left: 15px;
			margin-right: 10px;
			width: 35px;
			height: 35px;
		}
		
	}
}

.newgoal-popup {
	justify-self: center;
	display: flex;
	flex-direction:column;
	margin-top: 12.5px;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#71BE74;
	width: 300px;
	height: auto;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position:absolute;
	h1 {
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
		padding-bottom: 10px;
    }
	h2 {
		text-align: start;
		font-weight: 300;
		font-size: 15px;
	}
	p {
		font-size: 13px;
		font-weight: 20;
	}

	button {
		margin-top: 5px;
		top: 5px;
		display: flex;
		justify-content: center;
		margin-bottom: 2px;
		align-self:center;
		background-color: black;
		color: white;
		text-align: center;
		text-align: justify;
		border-radius: 5px;
		font-weight: 700;
		width: 125px;
		height: 20px;
		&:hover, &:focus {
			background-color: #333;
		}
	}

	input {
		margin-top: 3px;
		margin-bottom: 10px;
		border-radius: 5px;
		border: none;
		padding: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		outline: none;
	}
}

.options {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	background-color:#71BE74;
	gap: 6px;
	margin-bottom: 10px;
}

.options label {     
	margin-top: -5px;
	padding-top: 10px;
	cursor: pointer;  
	border: none;  
	p {
		font-size: 13px;
		font-weight: 20;
	}           
}

.newgoal-premade {
	justify-self: center;
	display: flex;
	flex-direction:column;
	margin-top: 12.5px;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color:#71BE74;
	width: 300px;
	height: auto;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position:absolute;
	h1 {
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
		padding-bottom: 10px;
    }
	h2 {
		text-align: start;
		font-weight: 350;
		font-size: 15px;

	}
	p {
		font-size: 12px;
		font-weight: 20;
		margin-top: 2px;
	}

	button {
		display: flex;
		justify-content: center;
		margin-bottom: 2px;
		align-self: center;
		background-color: black;
		color: white;
		text-align: center;
		text-align: justify;
		border-radius: 5px;
		font-weight: 700;
		width: 135px;
		height: 20px;
		&:hover, &:focus {
			background-color: #333;
		}
	}

	img {
		height: 30px; 
		width: 30px;
		margin-top: 20px;
		padding-right: 15px;
	}

}

.close {
	cursor: pointer;
	position: absolute;
	padding: 5px 280px;
	margin-top: -20px;
	img {
		height: 20px;
		width: 20px;
	}
}



/* copy ending here */